<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1</title>
    <link rel="stylesheet" href="../static/w3.css">
    <link rel="stylesheet" href="../static/main.css">

</head>
<body>
<div class="w3-container w3-row ">
    <div class="w3-container w3-third">
        <div class="w3-card-24 ">
            <h1 class="heading">this is h1 tag</h1>
            <h2 class="heading">this is h2 tag</h2>
            <h3 class="w3-indigo w3-text-white w3-hover-blue">this is h3 tag</h3>
    </div>
    </div>
    <div class="w3-container w3-third">
        <div class="w3-card-24 ">
            <h1 class="heading">this is h1 tag</h1>
            <h2 class="heading">this is h2 tag</h2>
            <h3 class="w3-indigo w3-text-white w3-hover-blue">this is h3 tag</h3>
    </div>
    </div>
    <div class="w3-container w3-third">
        <div class="w3-card-24 ">
            <h1 class="heading">this is h1 tag</h1>
            <h2 class="heading">this is h2 tag</h2>
            <h3 class="w3-indigo w3-text-white w3-hover-blue">this is h3 tag</h3>
    </div>
    </div>

</div>
    <p class="w3-border-left w3-border-blue">this is paragraph 1</p>
    <p class="w3-border-bottom w3-border-top w3-border-red">this is paragraph 2</p>

</body>
</html>