<!DOCTYPE html>
<html>
<title>intro</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <ul class="w3-navbar w3-white w3-wide w3-padding-8 w3-card-2">
    <li>
      <a href="#home" class="w3-margin-left">My self</a>
    </li>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <li class="w3-right w3-hide-small">
      <a href="/game" class="w3-left w3-margin-right">Next</a>
    </li>
  </ul>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="/static/image/mj.jpg" class="w3-round w3-image " alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Me</h1><br>
      <h5 class="w3-center">Just a 17-year-old boy</h5>
      <p class="w3-large">Hi, i'm Phuc. I live in Nguyen Trai Street, living with my family</p>
      <p class="w3-large w3-text-grey w3-hide-medium">as you can see in the left is Michael Jackson. I am a reallly big fan of him</p>
    </div>
  </div>

  <hr>

  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Gaming</h1><br>
        <p>In my free time, beside listen to the legend MJ i also play a lot of game, mostly League of Legend</p>
        <p>I also watch many cartoon especially Phineas and Ferb</p>
        <p>In the next page I will show you the research about the most popular games at the moment</p>

    </div>

    <div class="w3-col l6 w3-padding-large">
      <img src="/static/image/pnf.jpeg" class="w3-round w3-image " alt="Menu" width="500" height="750">
    </div>
  </div>

  <hr>



<!-- End page content -->
</div>


</body>
</html>
